body {
  background-color: #ccc;
  
}

.hero {
  background-image: url(bg-4.jpg) ;
  padding-top: 1px;
  height: 700px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 7px;
  display: inline-block;
  text-transform: uppercase;
}

nav ul {
  text-align: right;
}


nav li {
  list-style-type: none;
  display: inline-block;
  border: solid 2px #ccc;
  margin: 10px;
  padding: 2px;
  background-color: rgba(0, 0, 0, .3);
  
}

nav a:hover {
  background-color: rgba(0, 0, 0, .7);
  display: inline-block;
  padding: 7px;
  
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 7);
}




div p {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, .7);
  border-bottom: 2px white solid;
  margin: 250px;
  padding: 10px;
  margin-top: 0;
}

.secao {
  background-color: white;
  margin: 50px;
  padding: 10px 20px 30px 20px;
}

.secao h2 {
  background-color: rgba(110, 127, 236, 0.2);
  border-bottom: 2px #ccc solid;
  text-transform: uppercase;
}

.secao a {
  background-color: rgba(0, 0, 0, .3);
  padding: 10px;
  border-radius: 7px;
  color: blue;
}

footer p {
  background-color: rgba(0, 0, 0, .4);
  text-align: center;
  padding: 20px;
}